<a href="https://colab.research.google.com/github/Josshua-DSA/SIC-Samsung-Innovation-Campus-Batch-7-/blob/main/List_%26_Dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
siswa = ["Endo","Nunez","Salah","Szobozlai"]
nilai = {"Endo" : 88,
         "Nunez": 66,
         "Salah": 77,
         "Szobozlai": 17}

In [41]:
print("Siswa Pertama:", siswa[0])
print("Siswa Terakhir:", siswa[-1])
print("3 siswa terakhir:", siswa[-3:])

Siswa Pertama: Endo
Siswa Terakhir: Szobozlai
3 siswa terakhir: ['Nunez', 'Salah', 'Szobozlai']

In [42]:
siswa.append("Ronaldo")
siswa.pop(0)
print("Daftar siswa:", siswa)

Daftar siswa: ['Nunez', 'Salah', 'Szobozlai', 'Ronaldo']

In [43]:
for i, nama in enumerate(siswa):
  print(f"Index{i}: {nama}")

Index0: Nunez
Index1: Salah
Index2: Szobozlai
Index3: Ronaldo

In [44]:
nilai["Nunez"] = 100
print(nilai)

{'Endo': 88, 'Nunez': 100, 'Salah': 77, 'Szobozlai': 17}

In [45]:
nilai["Salah"] = 99
print(nilai)

{'Endo': 88, 'Nunez': 100, 'Salah': 99, 'Szobozlai': 17}

In [46]:
nilai.pop("Salah")
print(nilai)

{'Endo': 88, 'Nunez': 100, 'Szobozlai': 17}

In [48]:
nilai["Gravenberch"] = nilai.pop("Endo")
print(nilai)

{'Nunez': 100, 'Szobozlai': 17, 'Gravenberch': 88}