<a href="https://colab.research.google.com/github/Josshua-DSA/SIC-Samsung-Innovation-Campus-Batch-7-/blob/main/Topic%3A%20Variables%20and%20Data%20Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tugas 1 : Menyimpan dan Menampilkan Data

In [1]:
produk_1 = "Kopi Pagi"
harga_produk_1 = 18000.5
produk_2 = "Roti Cokelat"
harga_produk_2 = 10000
status_ketersediaan_roti = True

In [4]:
print(f"Nama Produk 1  : {produk_1}")
print(f"Harga Produk 1 : {harga_produk_1}")
print(f"Nama Produk 2  : {produk_2}")
print(f"Harga Produk 2 : {harga_produk_2}")
print(f"Status Kesediaan : {status_ketersediaan_roti}")

Nama Produk 1  : Kopi Pagi
Harga Produk 1 : 18000.5
Nama Produk 2  : Roti Cokelat
Harga Produk 2 : 10000
Status Kesediaan : True

Tugas 2: Konversi Tipe Data dan Input Pengguna

In [14]:
jumlah_kopi_str = input("Masukkan jumlah kopi yang ingin Anda beli: ")

Masukkan jumlah kopi yang ingin Anda beli: 2

In [15]:
jumlah_roti_str = input("Masukkan jumlah roti yang ingin Anda beli: ")

Masukkan jumlah roti yang ingin Anda beli: 3

In [16]:
print(f"Tipe data awal jumlah kopi:{(type(jumlah_kopi_str))}")
print(f"Tipe data awal jumlah roti:{(type(jumlah_roti_str))}")

Tipe data awal jumlah kopi:<class 'str'>
Tipe data awal jumlah roti:<class 'str'>

In [18]:
jumlah_kopi = int(jumlah_kopi_str)
jumlah_roti = int(jumlah_roti_str)

In [19]:
print(f"Tipe data setelah konversi: {type(jumlah_kopi)}")
print(f"Tipe data setelah konversi: {type(jumlah_roti)}")

Tipe data setelah konversi: <class 'int'>
Tipe data setelah konversi: <class 'int'>

Tugas 3: Operasi pada Angka

In [20]:
total_harga_kopi = jumlah_kopi * harga_produk_1
total_harga_roti = jumlah_roti * harga_produk_2
total_belanja_keseluruhan = total_harga_kopi + total_harga_roti
uang_bayar = 50000
kembalian = uang_bayar - total_belanja_keseluruhan

In [21]:
print(f"Total Harga Kopi         : {total_harga_kopi}")
print(f"Total Harga Roti         : {total_harga_roti}")
print(f"Total Belanja Keseluruhan: {total_belanja_keseluruhan}")
print(f"Uang yang dibayarkan     : {uang_bayar}")
print(f"Kembalian                : {kembalian}")

Total Harga Kopi         : 36001.0
Total Harga Roti         : 30000
Total Belanja Keseluruhan: 66001.0
Uang yang dibayarkan     : 50000
Kembalian                : -16001.0

Tugas 4: Operasi pada String

In [24]:
nama_pengguna = input("Masukkan Nama: ")

Masukkan Nama: Alex
Terima kasih Alex telah berbelanja di Coffee Shop Bahagia!

In [29]:
print('*'*40)
pesan_terimakasih = print(f"Terima kasih {nama_pengguna} telah berbelanja di Coffee Shop Bahagia!")
print('*'*40)
print(f"Total harga Kopi Pagi adalah {total_harga_kopi}")

****************************************
Terima kasih Alex telah berbelanja di Coffee Shop Bahagia!
****************************************
Total harga Kopi Pagi adalah 36001.0